In [1]:
import pandas as pd
from prettytable import PrettyTable
from tabulate import tabulate

In [2]:
df = pd.read_excel('future.xlsx', sheet_name='Sheet2')

In [3]:
df

                 Date  Yes  No  Accuracy   Yes-Diff    No-Diff  Cumulative
0   Fri, Jan 19, 2024    2   5  0.285714   9.000000   7.800000    0.285714
1   Sat, Jan 20, 2024    5   3  0.625000  14.000000  10.000000    0.466667
2   Sun, Jan 21, 2024    2   4  0.333333   8.000000  15.500000    0.428571
3   Mon, Jan 22, 2024    3   5  0.375000  13.000000   8.800000    0.413793
4   Tue, Jan 23, 2024    1   4  0.200000   5.000000  19.250000    0.382353
5   Wed, Jan 24, 2024    3   5  0.375000   8.333333  17.800000    0.380952
6   Thu, Jan 25, 2024    3   4  0.428571  21.666667  11.250000    0.387755
7   Fri, Jan 26, 2024    4   4  0.500000   7.750000  20.750000    0.403509
8   Sat, Jan 27, 2024    4   6  0.400000   5.750000  12.833333    0.000000
9   Sun, Jan 28, 2024    0   0       NaN        NaN        NaN    0.000000
10  Mon, Jan 29, 2024    0   0       NaN        NaN        NaN    0.000000
11  Tue, Jan 30, 2024    0   0       NaN        NaN        NaN    0.000000
12  Wed, Jan 31, 2024    0   0       NaN        NaN        NaN    0.000000

In [4]:
print("\nResult Table:")
print(tabulate(df[['Date', 'Accuracy']], headers='keys', tablefmt='pretty'))

Result Table:
+----+-------------------+---------------------+
|    |       Date        |      Accuracy       |
+----+-------------------+---------------------+
| 0  | Fri, Jan 19, 2024 | 0.2857142857142857  |
| 1  | Sat, Jan 20, 2024 |        0.625        |
| 2  | Sun, Jan 21, 2024 | 0.3333333333333333  |
| 3  | Mon, Jan 22, 2024 |        0.375        |
| 4  | Tue, Jan 23, 2024 |         0.2         |
| 5  | Wed, Jan 24, 2024 |        0.375        |
| 6  | Thu, Jan 25, 2024 | 0.42857142857142855 |
| 7  | Fri, Jan 26, 2024 |         0.5         |
| 8  | Sat, Jan 27, 2024 |         0.4         |
| 9  | Sun, Jan 28, 2024 |         nan         |
| 10 | Mon, Jan 29, 2024 |         nan         |
| 11 | Tue, Jan 30, 2024 |         nan         |
| 12 | Wed, Jan 31, 2024 |         nan         |
+----+-------------------+---------------------+

In [5]:
df = df.fillna('')

In [6]:
df['Accuracy'].fillna('', inplace=True)

# Convert "Accuracy" column to numeric values
df['Accuracy'] = pd.to_numeric(df['Accuracy'], errors='coerce')

# Format the "Accuracy" column to display 2 decimal places or leave as blank
df['Accuracy'] = df['Accuracy'].apply(lambda x: '\033[92m{:.2f}\033[0m'.format(x) if pd.notna(x) else '')

# Display the DataFrame using tabulate with "Accuracy" values formatted to 2 decimal places and green text
print("\nResult Table:")
print(tabulate(df[['Date', 'Accuracy']], headers='keys', tablefmt='pretty', missingval='', showindex=False))

Result Table:
+-------------------+----------+
|       Date        | Accuracy |
+-------------------+----------+
| Fri, Jan 19, 2024 |   0.29   |
| Sat, Jan 20, 2024 |   0.62   |
| Sun, Jan 21, 2024 |   0.33   |
| Mon, Jan 22, 2024 |   0.38   |
| Tue, Jan 23, 2024 |   0.20   |
| Wed, Jan 24, 2024 |   0.38   |
| Thu, Jan 25, 2024 |   0.43   |
| Fri, Jan 26, 2024 |   0.50   |
| Sat, Jan 27, 2024 |   0.40   |
| Sun, Jan 28, 2024 |          |
| Mon, Jan 29, 2024 |          |
| Tue, Jan 30, 2024 |          |
| Wed, Jan 31, 2024 |          |
+-------------------+----------+